<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout básica</title>
    <link rel="stylesheet" href="CSS/ESTILOS.CSS">
</head>
<body>
    <div class="Contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href=".">Inicio</a></li>
                    <li><a href=".">Acerca de</a></li>
                    <li><a href=".">Productos</a></li>
                    <li><a href=".">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen"></div>
           <img src="./rehab.jpeg" alt="Rehabilitacion fisica" width="600" height="400">
    </div>
    <section class="Post">
        <article>
            <h2>Rehabilitacion fisica</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas recusandae ut illo, corrupti amet repellat
                officiis pariatur sed eos vero. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim numquam illo iusto soluta nemo aliquam qui veritatis, eius autem quaerat commodi dolorum itaque fuga doloremque laborum rem quidem quae cupiditate. </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas recusandae ut illo, corrupti amet repellat
                officiis pariatur sed eos vero. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum modi nostrum, in quod necessitatibus ipsum voluptatem culpa itaque quis porro nihil quibusdam. Porro corporis consequatur, rem at id animi quas! </p>
        </article>
    </section>
    <aside>
        <div class="widget">
            <h3>CARACTERÍSTICAS </h3>
            <ul>
                <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error earum rem nihil
                        cupiditate aliquid eos magni id sed.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error earum rem nihil
                        cupiditate aliquid eos magni id sed.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error earum rem nihil
                        cupiditate aliquid eos magni id sed.</a></li>
                <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error earum rem nihil
                        cupiditate aliquid eos magni id sed.</a></li>
            </ul>
        </div>
        <div class="widget">
            <h3>Segmento</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quisquam aliquam dolores sed? Asperiores
                velit odit nulla voluptates ea dolor tempora provident iusto, cupiditate dolorum ipsum repellat hic
                voluptatum fugiat!. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, in illo eum voluptatum esse quis dicta enim, numquam ipsum laboriosam culpa delectus velit sequi voluptate unde nisi dolorem error nam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nobis laboriosam aliquid, enim explicabo cupiditate dignissimos eos sint ipsum at similique voluptate necessitatibus numquam id. Facilis harum quis voluptatem est.</p>
        </div>
    </aside>
    <footer>
        <p>Alejandra Hernández 2023. -Todos los derechos reservados</p><br>
    </footer>
    </section>
    </div>
</body>

</html>